@font-face {
    font-family: chakra;
    src: url(./fontes/ChakraPetch-SemiBold.ttf) format(truetype);
}

body {
    display: block;
    align-items: center;
    height: 100vh;
    background-color: #CECEDF;
    font-family: chakra, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #304CB0;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    text-align: left;
    background-color: #145490;
    color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    max-width: 1000px;
}

main img {
    display: block;
    border-top-left-radius: 43px;
    border-bottom-right-radius: 43px;
}

main div div {
    display: flow-root;
}

footer {
    background-color: #304CB0;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}